*{
  margin:0;
  padding:0;
}
input, button {
  outline: none;
  border: none;
}

html{
  background: url("../assets/images/bkgd_0.png") repeat-y;
}

.contenedor {
  background: rgba(200,200,200,0.3);
  width: 100%;
  max-width: 1000px;
  margin:200px auto;
  overflow:hidden;
   
}

.estadisticas{
  position: absolute;
  background: rgba(100,100,200,0.9);
  margin: 20px;
  margin-top: 500px;
  z-index: 10;

  border-radius: 10px; 
  font-family: "verdana";
}

.chat{
  position: absolute;
  width: 200px;
  background: rgba(100,100,200,0.9);
  right: 20px;
  bottom: 10px;
  z-index: 10;
  border-radius: 10px; 
  font-family: "verdana";
  color: white;
  padding: 10px;
  opacity: 0;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:inherit;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color:inherit;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
#msg{
  border: none;
  background-color: inherit;
  border-bottom: 1px solid white;
  width: 100%;
}
p{
  color: #e76e22;
}
#messages{
  max-height: 200px;
  max-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.atras{
  position: absolute;
  top: 20px;
  left: 20px;

}

#atr{
  height: 10% ;
  cursor: pointer;
}
#messages li{
  list-style: none;
  
}
.top{
  width:300px;
  float:left;

}
.top tr:nth-child(odd){
  background: rgba(100,200,200,0.3);
 
}
td{
  padding: 5px;
}
.stats tr:nth-child(odd){
  background: rgba(100,100,200,0.3);
  
}

.stats > tr{
  border-bottom: 1px solid black; 
  padding: 10px;

}
.stats{
  text-align: left;
  float:left;
  width:600px;
}
.login {
  width:100%;
  max-width: 300px;
  height: 400px;
  padding: 0px;
  margin:200px auto;
  color:#fff;

}
h1{
  float: left;
  width:20%;
  margin: 10px 80px;
  margin-bottom: 20px;
  display: inline-table;

}
table{
  margin: 10px;
  color: white;
  text-align: center;
}
.header a{

  margin-left:50px;
  height: 60px;
}
.header{
  width: 99%;
  display: inline-table;
  height: 50px;
}
img{
  height: 50px;
  margin-top: 10px;
}

.login_input{
  display:block;
  width: 270px;
  padding: 10px 15px;
  margin: 20px 0px;
}
.login_submit {
  background:#e76e22;
  display:block;
  width: 300px;
  padding: 10px 15px;
  color:#fff;
  cursor:pointer;
  font-size: 20px;
  font-family: "Verdana";
}
.login p{
  text-align: center;

}
.login a{
  display:block;
  background:#e74c3c;
  text-decoration: none;
  width: 300px;
  margin:0;
  cursor:pointer;
  font-size: 20px;
  padding:10px 0px;
  text-align: center;
  color:#fff;
  font-family: "Verdana";
}