*{
  margin:0;
  padding:0;
}
input, button {
  outline: none;
  border: none;
}

body{
  background: url("../assets/images/red.png") repeat-y;
}

.login {
  width:100%;
  max-width: 300px;
  height: 400px;
  padding: 0px;
  margin:200px auto;
  color:#fff;

}
.login_input{
  display:block;
  width: 270px;
  padding: 10px 15px;
  margin: 20px 0px;
}
.login_submit {
  background:#e76e22;
  display:block;
  width: 300px;
  padding: 10px 15px;
  color:#fff;
  cursor:pointer;
  font-size: 20px;
}
.login p{
  text-align: center;

}
.login p a{
  display:block;
  background:#e74c3c;
  text-decoration: none;
  width: 300px;
  margin:0;
  cursor:pointer;
  font-size: 20px;
  padding:10px 0px;
  text-align: center;
  color:#fff;
}